/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline; }

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block; }

body {
  line-height: 1.5; }

ol, ul {
  list-style: none; }

blockquote, q {
  quotes: none; }

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

/* Additions Below */
/* Contain floats *and margins*. */
.cfm:before,
.cfm:after {
  content: ' ';
  display: table; }

.cfm:after {
  clear: both; }

body {
  width: 100%;
  position: relative; }

h1, h2, h3, h4, h5, h6 {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 300;
  margin: 2rem 0 1rem 0;
  line-height: 1.3; }

h2 {
  font-size: 2.5rem; }

h3 {
  font-size: 2rem; }

h4 {
  font-size: 1.75rem; }

h5 {
  font-size: 1.5rem; }

h6 {
  font-size: 1rem; }

p {
  margin: 1rem 0 1.5rem 0;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

a {
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 400;
  line-height: 1.7; }

.page {
  background-size: cover;
  background-position: center;
  box-shadow: 0 0 4px 1px #111;
  min-height: calc(100vh - 51px);
  position: relative;
  top: 51px;
  text-align: center;
  -webkit-transition: all 0;
  transition: all 0; }
  .page h1 {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: white;
    text-shadow: 0 0 5px #000;
    text-align: center;
    line-height: 1.3;
    margin: 0 auto;
    display: inline-block;
    position: relative; }
  .page p {
    color: #fff;
    text-shadow: 0 0 5px #000;
    max-width: 400px;
    margin: 40px auto 0;
    padding: 0 10px;
    font-size: 1.3rem; }

.page.web {
  background-image: url("../img/web-landing.jpg");
  background-position: top; }
  .page.web h1 {
    padding-top: 20vh; }

.page.cyber {
  background-image: url("../img/cyber-landing.jpg"); }
  .page.cyber h1 {
    padding-top: 25vh;
    font-size: 2.4rem;
    text-shadow: 0 0 5px #fff;
    -webkit-animation: cyber-h1 3s infinite alternate;
    animation: cyber-h1 3s infinite alternate; }

@-webkit-keyframes cyber-h1 {
  0% {
    color: white;
    top: 0;
    left: 0; }
  60% {
    color: white;
    top: 0;
    left: 0; }
  60.3% {
    color: rgba(255, 255, 255, 0.2);
    top: 5px;
    left: 5px; }
  61% {
    color: white;
    top: 0;
    left: 0; }
  62.5% {
    color: white;
    top: 0;
    left: 0; }
  62.8% {
    color: rgba(255, 255, 255, 0.2);
    top: 8px;
    left: 8px; }
  63.6% {
    color: white;
    top: 0;
    left: 0; }
  80% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 0px #fff; }
  80.3% {
    color: rgba(255, 255, 255, 0.4);
    top: 34px;
    left: 34px;
    text-shadow: 3px 3px 3px #fff; }
  80.6% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 5px #fff; }
  83% {
    color: white;
    top: 0;
    left: 0; }
  83.4% {
    color: rgba(255, 255, 255, 0.2);
    top: 12px;
    left: 12px;
    text-shadow: 3px 3px 3px #fff; }
  83.8% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 5px #fff; }
  85% {
    color: white;
    top: 0;
    left: 0; }
  85.5% {
    color: rgba(255, 255, 255, 0.2);
    top: 8px;
    left: 8px; }
  86% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 0px #fff; }
  92.4% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 3px 3px 3px #fff; }
  92.7% {
    color: rgba(255, 255, 255, 0.2);
    top: 25px;
    left: 25px; }
  93% {
    color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    text-shadow: 0px 0px 0px #fff; }
  100% {
    color: white;
    top: 0;
    left: 0; } }

@keyframes cyber-h1 {
  0% {
    color: white;
    top: 0;
    left: 0; }
  60% {
    color: white;
    top: 0;
    left: 0; }
  60.3% {
    color: rgba(255, 255, 255, 0.2);
    top: 5px;
    left: 5px; }
  61% {
    color: white;
    top: 0;
    left: 0; }
  62.5% {
    color: white;
    top: 0;
    left: 0; }
  62.8% {
    color: rgba(255, 255, 255, 0.2);
    top: 8px;
    left: 8px; }
  63.6% {
    color: white;
    top: 0;
    left: 0; }
  80% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 0px #fff; }
  80.3% {
    color: rgba(255, 255, 255, 0.4);
    top: 34px;
    left: 34px;
    text-shadow: 3px 3px 3px #fff; }
  80.6% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 5px #fff; }
  83% {
    color: white;
    top: 0;
    left: 0; }
  83.4% {
    color: rgba(255, 255, 255, 0.2);
    top: 12px;
    left: 12px;
    text-shadow: 3px 3px 3px #fff; }
  83.8% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 5px #fff; }
  85% {
    color: white;
    top: 0;
    left: 0; }
  85.5% {
    color: rgba(255, 255, 255, 0.2);
    top: 8px;
    left: 8px; }
  86% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 0px 0px 0px #fff; }
  92.4% {
    color: white;
    top: 0;
    left: 0;
    text-shadow: 3px 3px 3px #fff; }
  92.7% {
    color: rgba(255, 255, 255, 0.2);
    top: 25px;
    left: 25px; }
  93% {
    color: rgba(255, 255, 255, 0.8);
    top: 0;
    left: 0;
    text-shadow: 0px 0px 0px #fff; }
  100% {
    color: white;
    top: 0;
    left: 0; } }

.page.home {
  top: 0;
  background-color: #ddd;
  min-height: 100vh; }
  .page.home .above-the-fold {
    background-image: url("../img/network-background-dark.jpg");
    background-size: cover; }
  .page.home .fvi-logo-white {
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    padding: 10px;
    width: 100%;
    max-width: 80px; }
  .page.home ul {
    text-align: right;
    padding: 10px;
    margin: 0; }
    .page.home ul a {
      color: #fff;
      border-bottom: 1px solid #fff;
      text-decoration: none;
      display: inline-block;
      border-bottom: 2px solid transparent;
      padding: 2px 0;
      margin: 0 10px;
      font-size: .8rem;
      font-weight: 300; }
      .page.home ul a:hover, .page.home ul a:focus {
        border-bottom-width: 2px;
        text-decoration: none; }
      .page.home ul a:visited {
        color: #fff;
        border-color: #fff; }
      .page.home ul a:hover {
        border-color: #fff; }

.title-div {
  display: table;
  width: 100%;
  height: 250px; }
  .title-div .title-headers {
    display: table-cell;
    vertical-align: middle; }
    .title-div .title-headers h2 {
      margin: 0;
      padding: 1rem;
      font-size: 3rem;
      color: #eee;
      text-shadow: 0 0 5px #000; }
    .title-div .title-headers h3 {
      margin: 0;
      font-size: 1.8rem;
      padding-bottom: 1rem;
      color: #ddd;
      text-shadow: 0 0 5px #000; }

.cards-container {
  display: block;
  text-align: center;
  padding: 20px;
  min-height: calc(100vh - 250px); }

.about-wrapper {
  background-color: #fff;
  text-align: left;
  padding: 20px; }
  .about-wrapper h5 {
    display: block;
    margin-top: 0;
    margin-bottom: 3px; }
    .about-wrapper h5::first-letter {
      font-size: 1.3em; }
  .about-wrapper .about-content-container {
    margin: auto;
    max-width: 1000px;
    box-sizing: border-box; }
  .about-wrapper p {
    text-shadow: none;
    color: #444;
    max-width: 600px;
    font-size: 1.1rem;
    margin: 30px auto; }
  .about-wrapper .request-info {
    display: block;
    margin: 30px auto; }

.infographic-container {
  width: 100%;
  background-color: #f0f0fa;
  text-align: center; }
  .infographic-container .infographic {
    box-sizing: border-box;
    width: 100%;
    max-width: 1000px;
    margin: 0 auto;
    display: block; }

footer {
  width: 100%;
  background-color: #003e67;
  margin-top: -7px;
  text-align: center; }

.flexbox-container {
  display: block;
  text-align: center;
  max-width: 900px;
  margin: auto; }

.contact-us-container,
.social-media-container,
.links-container {
  box-sizing: border-box;
  width: calc(100% / 3);
  min-width: 250px;
  padding: 20px;
  padding-top: 20px;
  display: inline-block;
  vertical-align: top; }
  .contact-us-container h4,
  .social-media-container h4,
  .links-container h4 {
    color: #028dea;
    margin: 0;
    padding-bottom: 10px; }

.links-container ul {
  padding-left: 20%;
  text-align: left; }

.links-container a {
  font-size: .95rem;
  color: #eee;
  border-bottom: 1px solid #eee;
  text-decoration: none;
  white-space: nowrap;
  line-height: 2;
  border-bottom-color: transparent; }
  .links-container a:hover, .links-container a:focus {
    border-bottom-width: 2px;
    text-decoration: none; }
  .links-container a:visited {
    color: #eee;
    border-color: #eee; }
  .links-container a:hover, .links-container a:focus {
    border-bottom-color: #eee; }

.social-media-container a {
  margin: 10px;
  color: #eee;
  display: inline-block;
  font-size: 2rem !important; }
  .social-media-container a:hover, .social-media-container a:focus {
    color: #ddd; }

.social-media-container img {
  box-sizing: border-box;
  display: block;
  margin: auto;
  width: 100%;
  max-width: 300px; }

.contact-us-container {
  text-align: left; }
  .contact-us-container h4 {
    text-align: center; }
  .contact-us-container address {
    padding-left: 20%; }
  .contact-us-container p {
    color: #eee;
    font-size: .9rem;
    margin: 0; }
  .contact-us-container a {
    color: #eee;
    border-bottom: 1px solid #eee;
    text-decoration: none;
    border: none; }
    .contact-us-container a:hover, .contact-us-container a:focus {
      border-bottom-width: 2px;
      text-decoration: none; }
    .contact-us-container a:visited {
      color: #eee;
      border-color: #eee; }

.sponsors-container {
  box-sizing: border-box;
  display: block;
  width: 100%;
  text-align: center;
  background-color: #003558; }
  .sponsors-container img {
    box-sizing: border-box;
    display: inline-block;
    vertical-align: middle;
    padding: 20px;
    width: 100%;
    max-width: 300px; }
  .sponsors-container img.cfoe {
    padding: 0 100px; }

#overlay {
  background: #000;
  bottom: 0;
  display: none;
  left: 0;
  opacity: .7;
  position: fixed;
  right: 0;
  top: 0;
  z-index: 101;
  color: black;
  font-size: 0; }

nav {
  width: 100%;
  background-color: #222;
  position: fixed;
  z-index: 1000;
  text-align: center;
  box-shadow: 0 2px 8px 0 rgba(0, 0, 0, 0.7);
  /* mobile Menu Button */
  /* Menu items */ }
  nav h4 {
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: 400;
    color: #ccc;
    padding: 10px 0 7px 0;
    display: none;
    margin: 0; }
    nav h4:hover {
      color: #028dea;
      background-color: #333;
      cursor: pointer; }
  nav ul {
    text-align: center;
    position: relative; }
    nav ul a.logo-anchor:focus, nav ul a.logo-anchor:hover {
      background-color: #222; }
    nav ul .fvi-logo-white {
      position: absolute;
      left: 10px;
      top: 15px;
      height: 25px; }
    nav ul li {
      display: inline-block; }
      nav ul li a {
        display: inline-block;
        text-decoration: none;
        color: #ccc;
        font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
        font-size: 12px;
        font-weight: 600;
        padding: 15px 15px;
        border-bottom: 3px solid #222;
        cursor: pointer; }
      nav ul li a:hover {
        background-color: #333;
        border-color: #333;
        color: #028dea; }
    nav ul li .apply {
      color: #fff;
      background-color: #028dea;
      border-bottom-color: #028dea; }
      nav ul li .apply:hover {
        border-color: #fff;
        color: #fff;
        background-color: #3baffd; }

.section-in-view {
  border-color: #028dea;
  background-color: #333; }

.home-button:hover {
  background-color: #000;
  border-color: #028dea; }

.apply-pop-up {
  box-sizing: border-box;
  display: none;
  width: calc(100vw - 40px);
  max-width: 400px;
  margin: 60px auto 0;
  position: fixed;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  border-radius: 12px;
  padding: 15px;
  background-color: #ddd;
  box-shadow: 0 15px 70px 0 #000;
  overflow: visible;
  z-index: 1001; }
  .apply-pop-up h3 {
    color: #000;
    margin: 0 0 10px; }
  .apply-pop-up .close {
    font-size: 1rem;
    color: #b00;
    background-color: transparent;
    border: none;
    cursor: pointer;
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 0;
    margin: 0; }
    .apply-pop-up .close:hover {
      color: #f22; }
  .apply-pop-up form {
    box-sizing: border-box;
    overflow: visible; }
    .apply-pop-up form input, .apply-pop-up form textarea {
      box-sizing: border-box;
      width: 100%;
      border-radius: 5px;
      font-size: 1rem;
      padding: 8px;
      margin-top: 10px;
      border: 1px solid #ccc;
      overflow: visible;
      -webkit-transition: all 0.1s;
      transition: all 0.1s; }
      .apply-pop-up form input:focus, .apply-pop-up form input:hover, .apply-pop-up form textarea:focus, .apply-pop-up form textarea:hover {
        outline: none;
        box-shadow: 0 0 4px #000; }
    .apply-pop-up form textarea {
      height: 250px;
      font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif; }
    .apply-pop-up form button {
      display: block;
      font-size: 1.2rem;
      padding: 5px 15px;
      border: none;
      border-radius: 5px;
      background-color: #028dea;
      background-image: -webkit-linear-gradient(top, #21a6ff, #028DEA);
      background-image: linear-gradient(to bottom, #21a6ff, #028DEA);
      color: #fff;
      cursor: pointer;
      margin-top: 10px; }
      .apply-pop-up form button:focus, .apply-pop-up form button:hover {
        outline: none;
        box-shadow: 0 0 4px #000;
        background: #5abafa;
        background-image: -webkit-linear-gradient(top, #5abafa, #21a6ff);
        background-image: linear-gradient(to bottom, #5abafa, #21a6ff); }
      .apply-pop-up form button:active {
        box-shadow: none;
        background-color: #028dea; }
  .apply-pop-up .sent-message {
    display: none; }
  .apply-pop-up hr {
    margin: 30px 0 20px 0; }
  .apply-pop-up h5 {
    margin-top: 15px; }

input[name="program-selector"] {
  position: absolute;
  opacity: 0;
  top: -9999px;
  left: -9999px; }

#radio-home:not(:checked) ~ .pages-container .radio-home {
  display: none; }

#radio-web:not(:checked) ~ .pages-container .radio-web {
  display: none; }

#radio-cyber:not(:checked) ~ .pages-container .radio-cyber {
  display: none; }

.card {
  display: inline-block;
  position: relative;
  width: 280px;
  height: 333px;
  margin: 0 30px 40px 30px;
  cursor: pointer;
  background-color: #444;
  border: 3px solid #222;
  border-radius: 6px;
  overflow: hidden;
  box-shadow: 0 15px 40px 5px rgba(0, 0, 0, 0.7); }
  .card p {
    opacity: 0;
    display: block;
    box-sizing: border-box;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 0;
    left: 0;
    background-color: rgba(0, 62, 103, 0.95);
    margin: 0;
    padding: 10px;
    font-size: 1.2rem;
    -webkit-transition: all .15s;
    transition: all .15s; }
    .card p:focus, .card p:hover {
      opacity: 1; }
  .card figure img {
    width: 100%; }
  .card h4 {
    color: #fff;
    margin: 1rem auto;
    padding-bottom: .5rem; }
    .card h4 .first-letter, .card h4 .second-letter {
      font-weight: 400;
      color: #028dea; }

.arrow {
  font-size: 5rem;
  display: block;
  color: #fff;
  border: none;
  text-shadow: 0 0 10px #000;
  position: absolute;
  left: calc(50% - 1.6rem);
  z-index: 100; }

.arrow-down {
  bottom: -33px;
  -webkit-animation: arrow-down 1s infinite;
  animation: arrow-down 1s infinite;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes arrow-down {
  from {
    bottom: -33px; }
  to {
    bottom: -43px; } }

@keyframes arrow-down {
  from {
    bottom: -33px; }
  to {
    bottom: -43px; } }

.arrow-up {
  top: -80px;
  -webkit-animation: arrow-up 1s infinite;
  animation: arrow-up 1s infinite;
  -webkit-animation-timing-function: ease-out;
  animation-timing-function: ease-out;
  -webkit-animation-direction: alternate;
  animation-direction: alternate; }

@-webkit-keyframes arrow-up {
  from {
    top: -70px; }
  to {
    top: -80px; } }

@keyframes arrow-up {
  from {
    top: -70px; }
  to {
    top: -80px; } }

.plus-button {
  border: none;
  background-color: #028dea;
  color: #fff;
  width: 30px;
  height: 30px;
  text-align: center;
  line-height: 1.3;
  font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-weight: 600;
  padding: 0;
  font-size: 1.4rem;
  border-radius: 100%;
  cursor: pointer;
  margin: 20px auto 0;
  -webkit-transition: all .6s ease-out;
  transition: all .6s ease-out;
  z-index: 100;
  display: block;
  position: relative; }
  .plus-button:hover {
    background-color: #3baffd; }
  .plus-button:focus {
    outline: none; }

.plus-button.opened {
  color: #fff;
  background-color: rgba(150, 150, 150, 0.5);
  -webkit-transform-origin: center;
  transform-origin: center;
  -webkit-transform: translateY(40px) rotate(225deg);
  transform: translateY(40px) rotate(225deg); }
  .plus-button.opened:hover {
    color: #fff;
    background-color: rgba(100, 100, 100, 0.8); }

.cta-btn, .request-info {
  display: inline-block;
  color: #fff;
  font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
  font-size: 1.2rem;
  font-weight: 400;
  text-align: center;
  padding: 5px 30px;
  margin-bottom: 30px;
  margin-top: 30px;
  border-radius: 5px;
  cursor: pointer;
  box-shadow: 0 3px 0 0 #555;
  z-index: 200;
  -webkit-transition: all .3s;
  transition: all .3s; }
  .cta-btn:active, .request-info:active {
    box-shadow: none;
    -webkit-transform: translateY(3px);
    transform: translateY(3px);
    -webkit-transition: transform .1s, box-shadow .1s;
    -webkit-transition: box-shadow .1s, -webkit-transform .1s;
    transition: box-shadow .1s, -webkit-transform .1s;
    transition: transform .1s, box-shadow .1s;
    transition: transform .1s, box-shadow .1s, -webkit-transform .1s; }

.apply-btn, .request-info {
  background: #e66;
  background-image: -webkit-linear-gradient(top, #e66, #b33);
  background-image: linear-gradient(to bottom, #e66, #b33); }
  .apply-btn:hover, .request-info:hover {
    background: #f77;
    background-image: -webkit-linear-gradient(top, #f77, #c44);
    background-image: linear-gradient(to bottom, #f77, #c44); }

.request-info {
  border: none; }

.question-btn {
  background-color: #999; }
  .question-btn:hover {
    background-color: #bbb; }

section {
  margin-top: 80px;
  position: relative;
  z-index: 2; }
  section:first-of-type {
    margin-top: 131px;
    /* 80px + nav-height, since page-landing is pushed down */ }

.banner {
  width: 100%;
  padding: 120px 10px 120px;
  box-sizing: border-box;
  text-align: center;
  position: relative;
  z-index: 3;
  -webkit-transition: all .6s ease-in-out;
  transition: all .6s ease-in-out;
  background-size: cover;
  border-top: 1px solid #222;
  border-bottom: 1px solid #222; }
  .banner h2 {
    color: #fff;
    font-size: 2.5rem;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-shadow: 0 1px 8px black;
    padding: 0;
    margin: 0;
    display: inline-block;
    -webkit-transition: all .6s;
    transition: all .6s; }
  .banner .bannerDescription {
    color: #fff;
    text-shadow: 0 1px 5px #000; }
  .banner .image-block {
    display: inline-block;
    padding-bottom: 30px;
    position: relative;
    top: 30px; }
    .banner .image-block img {
      display: inline-block;
      width: 90px;
      max-height: 75px;
      margin: 0.5rem 1rem; }

.banner.shrink {
  padding: 40px 10px 0px;
  box-shadow: 0 -2px 4px 0px #111; }

.content-container {
  background-color: #efefef;
  box-shadow: 0 0 4px 1px #111;
  position: relative;
  width: 100%;
  overflow: hidden;
  display: none;
  text-align: center; }
  .content-container .content, .content-container .social-media-summary {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    padding: 10px 20px; }
    .content-container .content h4, .content-container .social-media-summary h4 {
      color: #003352;
      font-weight: 400; }
      .content-container .content h4:first-child, .content-container .social-media-summary h4:first-child {
        margin-top: 45px; }
    .content-container .content p, .content-container .social-media-summary p {
      color: #333; }
    .content-container .content a, .content-container .social-media-summary a {
      color: #028dea;
      border-bottom: 1px solid #028dea;
      text-decoration: none; }
      .content-container .content a:hover, .content-container .social-media-summary a:hover, .content-container .content a:focus, .content-container .social-media-summary a:focus {
        border-bottom-width: 2px;
        text-decoration: none; }
      .content-container .content a:visited, .content-container .social-media-summary a:visited {
        color: #028dea;
        border-color: #028dea; }
  .content-container .social-media-summary {
    text-align: center; }
    .content-container .social-media-summary a {
      font-size: 1.2rem;
      color: #028dea;
      border: none;
      display: inline;
      vertical-align: center;
      padding: 0 10px;
      white-space: nowrap; }
      .content-container .social-media-summary a:visited {
        color: #028dea; }
      .content-container .social-media-summary a:focus, .content-container .social-media-summary a:hover {
        color: #54bafe; }
    .content-container .social-media-summary img {
      max-width: 200px;
      display: block;
      margin: 20px auto 0; }
  .content-container .request-info {
    position: relative;
    top: -20px; }

.content .bold, .content-container .social-media-summary .bold {
  font-weight: bolder; }

#summary {
  background-image: url("../img/keyboard.jpg");
  background-position: center; }

#curriculum {
  background-image: url("../img/courses.jpg");
  background-position: bottom; }

#comparison {
  background-image: url("../img/code.jpg");
  background-position: top; }

#certifications {
  background-image: url("../img/certifications.jpg");
  background-position: center; }

#careers {
  background-image: url("../img/partners.jpg");
  background-position: center; }

#tuition {
  background-image: url("../img/finance.jpg");
  background-position: top; }

#resources {
  background-image: url("../img/resources.jpg");
  background-position: bottom; }

#student-work {
  background-image: url("../img/projects.jpg");
  background-position: bottom; }

#student-work-content {
  width: 100%;
  max-width: none;
  padding-left: 0;
  padding-right: 0;
  padding-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-flow: row wrap;
      flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-line-pack: distribute;
      align-content: space-around; }
  #student-work-content .project {
    box-sizing: border-box;
    display: inline-block;
    margin: 20px;
    text-align: center;
    border: none;
    background-color: #ddd;
    width: 100%;
    max-width: 400px;
    box-shadow: 0 5px 20px -10px #000;
    border-radius: 4px;
    border: 1px solid #ccc;
    overflow: hidden;
    -webkit-transition: all .15s;
    transition: all .15s; }
    #student-work-content .project:focus, #student-work-content .project:hover {
      box-shadow: 0 0 5px 1px #028dea, 0 10px 40px -5px #000; }
    #student-work-content .project h4 {
      box-sizing: border-box;
      font-size: 1.2rem;
      margin-top: 1rem;
      padding: 0 10px; }
    #student-work-content .project img {
      display: block;
      box-sizing: border-box;
      min-width: 100px;
      width: 100%; }

#call-to-action-section {
  background-color: #003558;
  position: relative; }
  #call-to-action-section .content, #call-to-action-section .content-container .social-media-summary, .content-container #call-to-action-section .social-media-summary {
    padding: 10px;
    text-align: center; }
    #call-to-action-section .content .cta-btn-container, #call-to-action-section .content-container .social-media-summary .cta-btn-container, .content-container #call-to-action-section .social-media-summary .cta-btn-container {
      margin: 0 auto; }
    #call-to-action-section .content p, #call-to-action-section .content-container .social-media-summary p, .content-container #call-to-action-section .social-media-summary p {
      font-size: 1.2rem;
      margin: 2rem 0 1rem;
      color: #eee; }

@media all and (max-width: 960px) {
  .page {
    top: 0px;
    /* nav height */
    min-height: calc(100vh - 38px); }
  footer .sponsors-container {
    padding-bottom: 45px; }
  .page.home {
    background-position: center; }
    .page.home .fvi-logo-white {
      max-width: 50px; }
  .page.web h1 {
    font-size: 3rem;
    padding-top: 15vh; }
  .page.web p {
    font-size: 1.2rem; }
  .page.cyber h1 {
    font-size: 3rem;
    padding-top: 28vh; }
  .page.cyber p {
    font-size: 1.5rem; }
  nav {
    bottom: 0;
    box-shadow: 0 -1px 2px 0 rgba(0, 0, 0, 0.9); }
    nav ul a.logo-anchor {
      display: none; }
    nav ul .fvi-logo-white {
      display: none; }
    nav h4 {
      display: block;
      border-bottom: 3px solid #222;
      background: #222;
      background-image: -webkit-linear-gradient(top, #555, #222);
      background-image: linear-gradient(to bottom, #555, #222); }
      nav h4:hover {
        border-color: #333;
        background: #333;
        background-image: -webkit-linear-gradient(top, #666, #333);
        background-image: linear-gradient(to bottom, #666, #333); }
    nav ul {
      display: none; }
      nav ul li,
      nav ul li a {
        width: 100%; }
      nav ul li a {
        border-top: 1px solid #333;
        font-size: 14px;
        padding: 10px 0 8px 0; }
      nav ul li .home-button:hover, nav ul li .home-button:focus {
        border-top-color: #333;
        border-bottom-color: #111; }
      nav ul li .apply:hover, nav ul li .apply:focus {
        border-top-color: #333;
        border-bottom-color: #3baffd; }
  section:first-of-type {
    margin-top: 80px; }
  .banner h1 {
    font-size: 2rem; }
  .banner .image-block {
    display: block;
    top: 20px; }
    .banner .image-block img {
      width: 50px; } }

@media all and (max-width: 760px) {
  .title-div {
    height: 200px; }
  .page.home ul a {
    font-size: .7rem; }
  .page.home h2 {
    font-size: 2.5rem; }
  .page.home h3 {
    font-size: 1.6rem; }
  footer .sponsors-container img {
    max-width: 250px; }
  .contact-us-container,
  .social-media-container,
  .links-container {
    min-width: 180px; }
    .contact-us-container h4,
    .social-media-container h4,
    .links-container h4 {
      font-size: 1.4rem; }
    .contact-us-container p, .contact-us-container a,
    .social-media-container p,
    .social-media-container a,
    .links-container p,
    .links-container a {
      font-size: .8rem; }
  .contact-us-container address, .links-container ul {
    padding-left: 10%; }
  .page.web h1 {
    font-size: 2.7rem;
    padding-top: 16vh; }
  .page.web p {
    font-size: 1.1rem;
    margin-top: 1rem; }
  .page.cyber h1 {
    font-size: 2rem;
    padding-top: 30vh; }
  .page.cyber p {
    font-size: 1rem;
    margin-top: 1rem; }
  #call-to-action-section .content p, #call-to-action-section .content-container .social-media-summary p, .content-container #call-to-action-section .social-media-summary p {
    font-size: 1rem;
    margin: 1rem; } }

@media all and (max-width: 760px) and (max-width: 604px) {
  .title-div {
    height: 150px; }
  .page.home h2 {
    max-width: 370px;
    margin: auto; }
  .cta-btn, .request-info {
    display: block;
    max-width: 200px; }
  .apply-btn, .request-info {
    margin: 10px auto; }
  .question-btn {
    margin: auto; }
  footer .links-container a:nth-of-type(2):after {
    content: "\a";
    white-space: pre; } }

@media all and (max-width: 560px) {
  .contact-us-container,
  .social-media-container,
  .links-container {
    min-width: 100%; }
    .contact-us-container h4,
    .social-media-container h4,
    .links-container h4 {
      font-size: 1.75rem; }
    .contact-us-container p, .contact-us-container a,
    .social-media-container p,
    .social-media-container a,
    .links-container p,
    .links-container a {
      font-size: 1rem; }
  .contact-us-container address, .links-container ul {
    padding-left: 30%; }
  .content-container .content h4, .content-container .social-media-summary h4 {
    font-size: 1.4rem; }
  .content-container .content p, .content-container .social-media-summary p {
    font-size: .9rem; }
  .sponsors-container img.cfoe {
    padding: 0 70px; } }

@media all and (max-width: 400px) {
  .page.home h2 {
    font-size: 1.8rem;
    max-width: 270px; }
  .page.home h3 {
    font-size: 1.1rem; }
  .card {
    height: 250px;
    width: 215px; }
    .card h4 {
      font-size: 1.4rem;
      margin: .5rem 0; }
    .card p {
      display: none; }
  .apply-pop-up {
    margin-top: 20px; }
    .apply-pop-up form textarea {
      height: 200px; }
  .page.web h1 {
    font-size: 2.3rem; }
  .page.web p {
    margin-top: 1rem;
    font-size: .95rem; }
  .page.cyber h1 {
    padding-top: 27vh;
    font-size: 1.8rem; }
  .page.cyber p {
    margin-top: 3vh;
    font-size: .9rem; }
  .banner {
    padding: 80px 10px; }
  .contact-us-container,
  .social-media-container,
  .links-container {
    min-width: 100%; }
  .contact-us-container address, .links-container ul {
    padding-left: 20%; }
  footer .links-container a:after {
    content: "\a";
    white-space: pre; } }

@media all and (max-width: 374px) {
  .page.cyber h1 {
    -webkit-animation: none;
            animation: none; } }

/*@import "_diagnostics.scss";*/
html {
  background-color: #111;
  display: none; }

body {
  background-color: #111; }
