@media all and (max-width: 400px) {
    .page-landing.home {
        h2 {
            font-size: 1.8rem;
            max-width: 270px;
        }
        h3 {
            font-size: 1.1rem;
        }
    }
    .card {
        h4 {
            font-size: 1.5rem;
            margin: .5rem 0;
        }
    }
    .apply-pop-up {
      margin-top: 20px;

      form textarea {
        height: 150px;
      }
    }
    .page-landing.web {
        h1 {
            font-size: 2.3rem;
        }
        p {
            margin-top: 1rem;
            font-size: .95rem;
        }
    }
    .page-landing.cyber {
        h1 {
            padding-top: 27vh;
            font-size: 1.8rem;
        }
        p {
            margin-top: 3vh;
            font-size: .9rem;
        }
    }
    .banner {
        padding: 40px 0 80px;
    }
    .campus-info-container,
    .social-media-container,
    .links-container {
        min-width: 100%;
    }
    footer .links-container {

        a:after {
            content: "\a";
            white-space: pre;
        }
    }
}
