body {
  background-color: #111;
}

.page-landing {
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 4px 1px #111;
    min-height: 100vh;
    position: relative;
    top: $nav-height; /* nav height */
    text-align: center;
    transition: all 0;

    h1 {
        font-family: $open-sans;
        font-size: 3rem;
        font-weight: 300;
        color: rgba(255, 255, 255, 1);
        text-shadow: 0 0 5px #000;
        text-align: center;
        line-height: 1.3;
        margin: 0 auto;
        display: inline-block;
        position: relative;
    }

    p {
        color: #fff;
        text-shadow: 0 0 5px #000;
        max-width: 400px;
        margin: 40px auto 0;
        padding: 0 10px;
        font-size: 1.3rem;
    }
}

.page-landing.home {
    top: 0;
    background-color: #ddd;

    .above-the-fold {
        background-image: url('../img/network-background-dark.jpg');
        background-size: cover;
    }

    .fvi-logo-white {
        box-sizing: border-box;
        position: absolute;
        top: 0;
        left: 0;
        padding: 10px;
        width: 100%;
        max-width: 80px;
    }

    h2 {
        margin: 0;
        padding: 1rem;
        font-size: 3rem;
        color: #eee;
        text-shadow: 0 0 5px #000;
    }

    h3 {
        margin: 0;
        font-size: 1.8rem;
        padding-bottom: 1rem;
        color: #ddd;
        text-shadow: 0 0 5px #000;
    }
}

.page-landing.web {
    background-image: url('../img/web-landing.jpg');
    background-position: top;

    h1 {
        padding-top: 20vh;
    }
}

.page-landing.cyber {
    background-image: url('../img/cyber-landing.jpg');

    h1 {
        padding-top: 25vh;
        text-shadow: 0 0 5px #fff;
        -webkit-animation: cyber-h1 3s infinite alternate;
        -moz-animation: cyber-h1 3s infinite alternate;
        -o-animation: cyber-h1 3s infinite alternate;
        animation: cyber-h1 3s infinite alternate;
    }
}

.title-div {
    display: table;
    width: 100%;
    height: 250px;

    .title-headers {
        display: table-cell;
        vertical-align: middle;
    }
}

.cards-container {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    align-content: center;
    padding: 20px;
    min-height: calc(100vh - 250px);
}

@keyframes cyber-h1 {
    0% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    60% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    60.3% {color: rgba(255, 255, 255, .2);top: 5px; left: 5px;}
    61% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    62.5% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    62.8% {color: rgba(255, 255, 255, .2);top: 8px; left: 8px;}
    63.6% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    80% {color: rgba(255, 255, 255, 1);top: 0; left: 0; text-shadow: 0px 0px 0px #fff;}
    80.3% {color: rgba(255, 255, 255, .4);top: 34px; left: 34px; text-shadow: 3px 3px 3px #fff;}
    80.6% {color: rgba(255, 255, 255, 1);top: 0; left: 0; text-shadow: 0px 0px 5px #fff;}
    83% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    83.4% {color: rgba(255, 255, 255, .2);top: 12px; left: 12px; text-shadow: 3px 3px 3px #fff;}
    83.8% {color: rgba(255, 255, 255, 1);top: 0; left: 0;text-shadow: 0px 0px 5px #fff;}
    85% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    85.5% {color: rgba(255, 255, 255, .2);top: 8px; left: 8px;}
    86% {color: rgba(255, 255, 255, 1);top: 0; left: 0; text-shadow: 0px 0px 0px #fff;}
    92.4% {color: rgba(255, 255, 255, 1);top: 0; left: 0; text-shadow: 3px 3px 3px #fff;}
    92.7% {color: rgba(255, 255, 255, .2);top: 25px; left: 25px;}
    93% {color: rgba(255, 255, 255, .8);top: 0; left: 0; text-shadow: 0px 0px 0px #fff;}
    100% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
}

.infographic-container {
    width: 100%;
    background-color: #fff;
    text-align: center;

    .infographic {
        box-sizing: border-box;
        width: 100%;
        max-width: 1000px;
        margin: 0 auto;
        display: block;
    }
}

.programs-container {
    display: none;
    background-color: #111;
}
