.home-landing h2 {
    font-size: 1.8rem;
    max-width: 270px;
}
.home-landing h3 {
    font-size: 1.1rem;
}
.card h4 {
    font-size: 1.5rem;
    margin: .5rem 0;
}
.web-landing h1 {
    font-size: 2.3rem;
}
.cyber-landing h1 {
    padding-top: 27vh;
    font-size: 1.8rem;
}
.web-landing p {
    margin-top: 1rem;
    font-size: .95rem;
}
.cyber-landing p {
    margin-top: 3vh;
    font-size: .9rem;
}
