.title-div {
    height: 200px;
}

.home-landing h2 {
    font-size: 2.5rem;
}

.home-landing h3 {
    font-size: 1.6rem;
}

.web-landing h1 {
    font-size: 2.7rem;
    padding-top: 16vh;
}

.cyber-landing h1 {
    font-size: 2rem;
    padding-top: 30vh;
}

.web-landing p {
    font-size: 1.1rem;
    margin-top: 1rem;
}

.cyber-landing p {
    font-size: 1rem;
    margin-top: 1rem;
}

#web-call-to-action-section .content p {
    font-size: 1rem;
    margin: 1rem;
}

@media all and (max-width: 604px) {
    .title-div {
        height: 150px;
    }
    .home-landing h2 {
        max-width: 370px;
        margin: auto;
    }
}
