.arrow {
    font-size: 5rem;
    display: block;
    color: #fff;
    border: none;
    text-shadow: 0 0 10px #000;
    position: absolute;
    left: calc(50% - 1.6rem);
    z-index: 100;
}

.arrow-down {
    bottom: 13px;
    -webkit-animation: arrow-down 1s infinite;
    animation: arrow-down 1s infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes arrow-down {
    from {bottom: 23px;}
    to {bottom: 13px;}
}

@keyframes arrow-down {
    from {bottom: 23px;}
    to {bottom: 13px;}
}

.arrow-up {
    top: -70px;
    -webkit-animation: arrow-up 1s infinite;
    animation: arrow-up 1s infinite;
    -webkit-animation-timing-function: ease-out;
    animation-timing-function: ease-out;
    -webkit-animation-direction: alternate;
    animation-direction: alternate;
}

@-webkit-keyframes arrow-up {
    from {top: -60px;}
    to {top: -70px;}
}

@keyframes arrow-up {
    from {top:-60px;}
    to {top: -70px;}
}

.call-to-action:hover {
    box-shadow: 0 4px 0 0 #555;
    background-color: rgb(96, 179, 235);
}

.call-to-action:active {
    box-shadow: none;
    background-color: rgb(2, 141, 234);
    -webkit-transform: translateY(4px);
    transform: translateY(4px);
    -webkit-transition: transform .1s, box-shadow .2s;
    -webkit-transition: box-shadow .2s, -webkit-transform .1s;
    transition: box-shadow .2s, -webkit-transform .1s;
    transition: transform .1s, box-shadow .2s;
    transition: transform .1s, box-shadow .2s, -webkit-transform .1s;
}
