#overlay {
    display: none;
    position: fixed;
    height: 100vh;
    width: 100%;
    background-color: rgba(0, 0, 0, .7);
    content: "";
    z-index: 1;
}

.cards-container {
    position: relative;
    max-width: 1280px;
    margin: 0 auto;
    padding: 20px;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: flex-start;
    align-content: flex-start;
}

.card {
    width: 300px;
    height: 350px;
    margin: 20px;
    border-radius: 10px;
    box-shadow: 0 15px 60px -10px rgba(0, 0, 0, .5);
    background-color: #eee;
    border: 1px solid #bbb;
    cursor: pointer;
    position: relative;
    -webkit-transition: box-shadow .3s;
    transition: all .25s;
}

.card:hover, .card:focus {
    box-shadow: 0 15px 60px -10px rgba(0, 0, 0, .4);
    background-color: #fff;
    transform: scale(1.02);
}

.tooltip {
    width: 100px;
    height: 40px;
    position: absolute;
    top: -20px;
    right: -20px;
    background-image: url('../img/tooltip.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-clip: border-box;
    cursor: default;
    z-index: 1;
}

.tooltip p {
    text-align: center;
    padding: 5px 10px 10px 5px;
    font-size: .7rem;
    line-height: 1.3;
    margin: 0;
}

.banner {
    width: 100%;
    height: 150px;
    text-align: center;
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
    display: table;
}

.banner h1 {
    color: #000;
    font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 1.5rem;
    font-weight: 400;
    padding: 20px;
    margin: 0;
    display: table-cell;
    vertical-align: middle;
}

.image-block {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    flex-wrap: wrap;
    align-content: space-around;
    padding: 15px;
    position: relative;
}

.image-block img {
    width: 60px;
    max-height: 50px;
    margin: 0.5rem 1rem;
}

figcaption {
    padding: 10px;
    height: calc(100% - 150px - 20px); /* subtract banner height & figcaption padding*/
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

figcaption p {
    margin: 0;
}

#when-and-where {
    background-color: hsl(30, 83%, 62%);
}

#cirriculum {
    background-color: hsl(60, 83%, 62%);
}

#comparison {
    background-color: hsl(90, 83%, 62%);
}

#certifications {
    background-color: hsl(150, 83%, 62%);
}

#partners {
    background-color: hsl(180, 83%, 62%)
}

#pricing {
    background-color: hsl(210, 83%, 62%);
}

#resources {
    background-color: hsl(270, 73%, 62%);
}

#student-work {
    background-color: hsl(300, 63%, 62%);
}

#call-to-action-section {
    height: 50vh;
    min-height: 300px;
    background-color: #222;
    position: relative;
    box-shadow: 0 2px 20px 0 #111;
}

#call-to-action-section .call-to-action {
    margin-bottom: 30px;
    margin-top: 20px;
}

#call-to-action-section .content {
    padding: 10px;
    text-align: center;
}

#call-to-action-section .content p {
    font-size: 1.2rem;
    color: #aaa;
}
