.home-main {
    background-color: #ddd;
    background-image: url('../img/network-background.jpg');
    background-size: cover;
}

.web-main {
    background-color: #bbb;
    display: none;
}

.cyber-main {
    background-color: #333;
    display: none;
}

.page-landing {
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 4px 1px #111;
    min-height: 100vh;
    position: relative;
    top: 51px;
    /* nav height */
    text-align: center;
}

.home-landing {
    top: 0;
}

.cyber-landing {
    background-image: url('../img/cyber-landing.jpg');
}

.web-landing {
    background-image: url('../img/web-landing.jpg');
    background-position: top;
}

.home-landing h2 {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    color: #eee;
}

.home-landing h3 {
    margin: 0;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: #ddd;
}

.title-div {
    display: table;
    width: 100%;
    height: 250px;
}

.title-headers {
    display: table-cell;
    vertical-align: middle;
}

.cards-container {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;
    ;
    align-content: center;
    padding: 20px;
    min-height: calc(100vh - 250px);
}

.page-landing h1 {
    font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 3rem;
    font-weight: 300;
    color: rgba(255, 255, 255, 1);
    text-align: center;
    line-height: 1.3;
    margin: 0 auto;
    display: inline-block;
    position: relative;
}

.web-landing h1 {
    padding-top: 18vh;
}

.web-landing h1 span {
    position: relative;
}

.web-landing h1 .full-stack {
    -webkit-animation: full-stack 4s infinite;
    -moz-animation: full-stack 4s infinite;
    -o-animation: full-stack 4s infinite;
    animation: full-stack 4s infinite;
}

.web-landing h1 .web-developer {
    -webkit-animation: web-developer 4s infinite;
    -moz-animation: web-developer 4s infinite;
    -o-animation: web-developer 4s infinite;
    animation: web-developer 4s infinite;
}

.cyber-landing h1 {
    padding-top: 25vh;
    -webkit-animation: cyber-h1 3s infinite alternate;
    -moz-animation: cyber-h1 3s infinite alternate;
    -o-animation: cyber-h1 3s infinite alternate;
    animation: cyber-h1 3s infinite alternate;
}

@keyframes full-stack {
    0% {top: 0; left: 0;}
    70% {top: 0; left: 0;}
    95% {top: -4px; left: -12px;}
    98% {top: 2px; left: 4px;}
    100% {top: 0; left: 0}
}

@keyframes web-developer {
    0% {top: 0; left: 0;}
    70% {top: 0; left: 0;}
    95% {top: 4px; left: 12px;}
    98% {top: -2px; left: -4px;}
    100% {top: 0; left: 0}
}

@keyframes cyber-h1 {
    0% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    60% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    60.3% {color: rgba(255, 255, 255, .2);top: 5px; left: 5px;}
    61% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    62.5% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    62.8% {color: rgba(255, 255, 255, .2);top: 8px; left: 8px;}
    63.6% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    80% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    80.3% {color: rgba(255, 255, 255, .4);top: 34px; left: 34px;}
    80.6% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    83% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    83.4% {color: rgba(255, 255, 255, .2);top: 12px; left: 12px;}
    83.8% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    85% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    85.5% {color: rgba(255, 255, 255, .2);top: 8px; left: 8px;}
    86% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    92.4% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
    92.7% {color: rgba(255, 255, 255, .2);top: 25px; left: 25px;}
    93% {color: rgba(255, 255, 255, .8);top: 0; left: 0;}
    100% {color: rgba(255, 255, 255, 1);top: 0; left: 0;}
}

.web-landing p, .cyber-landing p {
    color: #fff;
    text-shadow: 0 0 5px #000;
    max-width: 400px;
    margin: 40px auto 0;
    padding: 0 10px;
    font-size: 1.3rem;
}
