.home-main {
    background-color: #ddd;
    background-image: url('../img/network-background.jpg');
    background-size: cover;
}

.web-main {
    background-color: #bbb;
    display: none;
}

.cyber-main {
    background-color: #333;
    display: none;
}

.page-landing {
    background-size: cover;
    background-position: center;
    box-shadow: 0 0 4px 1px #111;
    min-height: 100vh;
    position: relative;
    top: 51px; /* nav height */
    text-align: center;
}

.home-landing {
    top: 0;
}

.cyber-landing {
    background-image: url('../img/cyber-landing.jpg');
}

.web-landing {
    background-image: url('../img/web-landing.jpg');
    background-position: top;
}

.home-landing h2 {
    margin: 0;
    padding: 1rem;
    font-size: 3rem;
    color: #eee;
}

.home-landing h3 {
    margin: 0;
    font-size: 1.8rem;
    padding-bottom: 1rem;
    color: #bbb;
}

.title-div {
    display: table;
    width: 100%;
    height: 250px;
}

.title-headers {
    display: table-cell;
    vertical-align: middle;
}

.cards-container {
    display: flex;
    box-sizing: border-box;
    flex-flow: row wrap;
    justify-content: center;
    align-items: flex-start;;
    align-content: center;
    padding: 20px;
    min-height: calc(100vh - 250px);
}

.page-landing h1 {
    font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 2rem;
    font-weight: 300;
    color: #fff;
    text-align: center;
    line-height: 1.3;
    margin: 0;
}

.web-landing h1 {
    padding-top: 15vh;
}

.cyber-landing h1 {
    padding-top: 25vh;
}

.summary {
    color: #fff;
    text-shadow: 0 0 5px #000;
    max-width: 400px;
    margin: 40px auto 0;
    padding: 0 10px;
}
