#overlay {
    background: #000;
    bottom: 0;
    display: none;
    left: 0;
    opacity: .7;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    color: rgba(0, 0, 0, 1);
    font-size: 0;
}

nav {
    width: 100vw;
    background-color: #222;
    position: fixed;
    z-index: 1000;
    text-align: center;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, .7);
}

/* Menu Button */
nav h4 {
    font-family: 'Raleway', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    font-weight: bold;
    color: #ccc;
    padding: 13px 0;
    display: none;
    margin: 0;
}

nav h4:hover {
    color: rgb(2, 141, 234);
    background-color: #333;
    cursor: pointer;
}

/* Menu Items */
nav ul {
    text-align: center;
    transition: all .5 ease-out;
}

nav ul li {
    display: inline-block;
}

nav ul li a {
    display: inline-block;
    text-decoration: none;
    color: #ccc;
    font-family: "Open Sans", "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-size: 14px;
    padding: 13px 15px;
    border-bottom: 3px solid #222;
}

nav ul li:last-child a {
    background-color: rgb(2, 141, 234);
    border-color: rgb(2, 141, 234);
    color: #fff;
}

nav ul li a:hover {
    background-color: #333;
    border-color: #333;
    color: rgb(2, 141, 234);
}

nav ul li:last-child a:hover {
    background-color: #fff;
    border-color: rgb(2, 141, 234);
    color: rgb(2, 141, 234);
}

.section-in-view {
    border-color: rgb(2, 141, 234);
}
