section {
    width: 100%;
    padding: 100px 0 140px;
    text-align: center;
    position: relative;
    transition: all .6s ease-in-out;
    background-size: cover;
}

section h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Open Sans', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    font-weight: 300;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    margin: 0;
    display: inline-block;
    transition: all .6s;
}

section .image-block {
    display: inline-block;
    padding-bottom: 30px;
    position: relative;
    top: 30px;
}

.image-block img {
    display: inline-block;
    width: 90px;
    max-height: 75px;
    margin: 0.5rem 1rem;
}

.content-container {
    background-color: #eee;
    display: none;
}

.content {
    margin: 0 auto;
    max-width: 600px;
    text-align: left;
    padding: 10px;
}

.content h4 {
    color: rgb(0, 51, 82);
}

.content h4:first-child {
    margin-top: 45px;
}

.content .bold {
    font-weight: bolder;
}

.content p {
    color: #333;
}

.content a {
    color: rgb(2, 141, 234);
    border-bottom: 1px solid rgb(2, 141, 234);
    text-decoration: none;
    transition: all .2s;
}

.content a:visited {
    color: rgb(0, 51, 82);
    border-color: rgb(0, 51, 82);
}

.content a:hover {
    color: white;
    background-color: rgb(2, 141, 234);
    border-color: rgb(2, 141, 234);
    border-radius: 3px;
    box-shadow: 0 5px 8px -5px #000;
    text-decoration: none;
}

#general {
    background-image: url('../img/brushed-metal-texture-background.jpg');
    background-position: center;
}

#courses {
    background-image: url('../img/courses.jpg');
    background-position: bottom;
}

#bootcamps {
    background-image: url('../img/code.jpg');
    background-position: top;
}

#certifications {
    background-image: url('../img/certifications.jpg');
    background-position: center;
}

#partners {
    background-image: url('../img/partners.jpg');
    background-position: center;
}

#financial-aid {
    background-image: url('../img/finance.jpg');
    background-position: top;
}

#student-resources {
    background-image: url('../img/resources.jpg');
    background-position: bottom;
}

#student-projects {
    background-image: url('../img/projects.jpg');
    background-position: bottom;
}

#call-to-action-section {
    height: 50vh;
    min-height: 300px;
    background-color: #222;
    position: relative;
}

#call-to-action-section .content {
    padding: 10px;
    text-align: center;
}

#call-to-action-section .content p {
    font-size: 1.2rem;
    color: #aaa;
}
