section {
    width: 100%;
    padding: 100px 0 140px;
    text-align: center;
    position: relative;
    transition: all .6s ease-in-out;
    background-size: cover;
}

section h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Raleway', "HelveticaNeue-Light", "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, "Lucida Grande", sans-serif;
    text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
    padding: 20px;
    transition: all .6s;
}

.content-container {
    background-color: #fff;
    display: none;
}

.content {
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    padding: 10px;
}

.content h2 {
    margin-top: 60px;
}

.centered-blocks {
    text-align: center;
    margin-top: -30px;
}

.centered-blocks img {
    display: inline-block;
    width: 90px;
    max-height: 75px;
    margin: 0.5rem 1rem;
}

#courses {
    background-image: url('../img/courses.jpg');
    background-position: bottom;
}

#bootcamps {
    background-image: url('../img/code.jpg');
    background-position: top;
}

#certifications {
    background-image: url('../img/certifications.jpg');
    background-position: center;
}

#partners {
    background-image: url('../img/partners.jpg');
    background-position: center;
}

#financial-aid {
    background-image: url('../img/finance.jpg');
    background-position: top;
}

#student-resources {
    background-image: url('../img/resources.jpg');
    background-position: bottom;
}

#student-projects {
    background-image: url('../img/projects.jpg');
    background-position: bottom;
}

#call-to-action-section {
    height: 50vh;
    min-height: 300px;
    background-color: #222;
}

#call-to-action-section .content {
    padding: 10px;
}

#call-to-action-section .content p {
    font-size: 1.2rem;
    color: #aaa;
    text-align: center;
}
