nav h4 {
    display: block;
}
nav ul {
    display: none;
}
nav ul li, nav ul li a {
    display: block;
}
.page-landing h1 {
    font-size: 2rem;
}
#web-landing h1 {
    padding-top: 10vh;
    font-size: 1.7rem;
}
.call-to-action {
    margin-top: 20px;
}
section h1 {
    font-size: 2rem;
}
