nav h4 {
    display: block;
    border-bottom: 3px solid #222;
}
nav h4:hover {
    border-color: #333;
}
nav ul {
    display: none;
}
nav ul li, nav ul li a {
    display: block;
}
nav ul li a {
    border-top: 1px solid #333;
}
.page-landing h1 {
    font-size: 2rem;
}
#web-landing h1 {
    padding-top: 10vh;
    font-size: 1.7rem;
}
.call-to-action {
    margin-top: 20px;
}
section h1 {
    font-size: 2rem;
}
section .image-block {
    display: block;
    top: 20px;
}

.image-block img {
    width: 60px;
}
