.card {
    width: 220px;
    height: 100px;
}

.banner {
    height: 100%;
    border-radius: 10px;
}

.banner h1 {
    font-size: 1.2rem;
    border-radius: 10px;
}

figcaption {
    display: none;
}
