@import "_reset.css";

.show-content-button {
    border: none;
    width: 30px;
    height: 30px;
    background-color: #75bae6;
    color: #fff;
    font-family: 'lato';
    padding: 0;
    font-size: 1.4rem;
    border-radius: 100%;
    cursor: pointer;
    transition: all .3s;
    margin-bottom: 110px;
    z-index: 100;
    position: relative;
}

.show-content-button:focus {
    outline: none;
}

.clicked-button {
    background-color: #ccc;
    transform-origin: center;
    transform: translateY(50px) rotate(225deg);
}

section {
    width: 100%;
    text-align: center;
    position: relative;
}

section h1 {
    color: #fff;
    font-size: 2.5rem;
    font-family: 'Raleway';
    text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
    padding: 100px 20px 20px 20px;
    transition: all .3s;
}

section .content-container {
    background-color: #fff;
    display: none;
}

section .content {
    margin: 0 auto;
    max-width: 800px;
    text-align: left;
    padding-top: 40px;
}

section .content p {
    font-size: 5rem;
}

#courses {
    background-image: url('../img/keyboard.jpg');
    background-size: cover;
    background-position: bottom;
}

#bootcamps {
    background-image: url('../img/javascript-code.jpg');
    background-size: cover;
}

#partners {
    background-image: url('../img/partners.jpg');
    background-size: cover;
    background-position: center;
}

#financial-aid {
    background-image: url('../img/financial-aid.jpg');
    background-size: cover;
    background-position: top;
}

#student-resources {
    background-image: url('../img/student-resources.jpg');
    background-size: cover;
    background-position: top;
}

#student-projects {
    background-image: url('../img/student-projects.jpg');
    background-size: cover;
    background-position: center;
}
