.apply-pop-up {
    display: none;
    box-sizing: border-box;
    width: calc(100vw - 40px);
    max-width: 400px;
    margin: 60px auto 0;
    position: fixed;
    left: 50%;
    opacity: 1;
    transform: translateX(-50%);
    border-radius: 12px;
    padding: 15px;
    background-color: #ddd;
    box-shadow: 0 15px 70px 0 #000;
    overflow: visible;
    z-index: 1001;
    transition: opacity 600ms;

    h3 {
        color: #000;
        margin: 0 0 10px;
        text-align: center;
    }

    .close {
        font-size: 1rem;
        color: #b00;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 3px;
        right: 5px;
        padding: 0;
        margin: 0;

        &:hover {
            color: #f22;
        }
    }

    form {
        box-sizing: border-box;
        overflow: visible;

        .form-label {
            font-family: 'Open Sans', sans-serif;
            margin: 12px 0 0 1px;
            display: block;
            font-size: .9rem;
        }

        input, textarea {
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            font-size: 1rem;
            padding: 8px;
            border: 1px solid #ccc;
            overflow: visible;
            transition: all 0.1s;

            &:focus  {
                outline-color: $fvi-blue;
            }
        }

        textarea {
            height: 250px;
            font-family: $open-sans;
        }

        button {
            display: block;
            font-size: 1.2rem;
            padding: 5px 15px;
            border: none;
            border-radius: 5px;
            background-color: $fvi-blue;
            background-image: -webkit-linear-gradient(top, #21a6ff, #028DEA);
            background-image: -moz-linear-gradient(top, #21a6ff, #028DEA);
            background-image: -ms-linear-gradient(top, #21a6ff, #028DEA);
            background-image: -o-linear-gradient(top, #21a6ff, #028DEA);
            background-image: linear-gradient(to bottom, #21a6ff, #028DEA);
            color: #fff;
            cursor: pointer;
            margin-top: 10px;
            box-shadow: 0 2px 0 0 #666;

            &:focus {
                outline: #fff;
                background: #5abafa;
                background-image: -webkit-linear-gradient(top, #5abafa, #21a6ff);
                background-image: -moz-linear-gradient(top, #5abafa, #21a6ff);
                background-image: -ms-linear-gradient(top, #5abafa, #21a6ff);
                background-image: -o-linear-gradient(top, #5abafa, #21a6ff);
                background-image: linear-gradient(to bottom, #5abafa, #21a6ff);
            }

            &:active {
                box-shadow: none;
                background-color: $fvi-blue;
                transform: translateY(2px);
            }
        }
    }

    .sent-message {
        display: none;
    }

    hr {
        margin: 30px 0 20px 0;
    }

    h5 {
        margin-top: 15px;
        font-size: 2rem;
        text-align: center;
    }
}
