.apply-pop-up {
    box-sizing: border-box;
    display: none;
    width: calc(90vw - 30px); // 30px of padding
    max-width: 400px;
    margin: 10vh auto 0;
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    border-radius: 12px;
    padding: 15px;
    background-color: #ddd;
    box-shadow: 0 15px 70px 0 #000;
    z-index: 1001;

    h3 {
        color: #000;
        margin: 0 0 10px;
    }

    .close {
        font-size: 1rem;
        color: #b00;
        background-color: transparent;
        border: none;
        cursor: pointer;
        position: absolute;
        top: 3px;
        right: 5px;
        padding: 0;
        margin: 0;

        &:hover {
            color: #f22;
        }
    }

    form {
        box-sizing: border-box;

        input, textarea {
            box-sizing: border-box;
            width: 100%;
            border-radius: 5px;
            font-size: 1rem;
            padding: 8px;
            margin-top: 10px;
            border: 1px solid #ccc;
            transition: all 0.1s;

            &:focus,
            &:hover {
                outline: none;
                box-shadow: 0 0 4px #000;
            }
        }

        textarea {
            height: 200px;
            font-family: $open-sans;
        }

        button {
            display: block;
            font-size: 1.2rem;
            padding: 5px;
            border: none;
            border-radius: 5px;
            background-color: $fvi-blue;
            background-image: -webkit-linear-gradient(top, #21a6ff, #028DEA);
            background-image: -moz-linear-gradient(top, #21a6ff, #028DEA);
            background-image: -ms-linear-gradient(top, #21a6ff, #028DEA);
            background-image: -o-linear-gradient(top, #21a6ff, #028DEA);
            background-image: linear-gradient(to bottom, #21a6ff, #028DEA);
            color: #fff;
            cursor: pointer;
            margin-top: 3px;

            &:focus,
            &:hover {
                background: #5abafa;
                background-image: -webkit-linear-gradient(top, #5abafa, #21a6ff);
                background-image: -moz-linear-gradient(top, #5abafa, #21a6ff);
                background-image: -ms-linear-gradient(top, #5abafa, #21a6ff);
                background-image: -o-linear-gradient(top, #5abafa, #21a6ff);
                background-image: linear-gradient(to bottom, #5abafa, #21a6ff);
            }
        }
    }

    .sent-message {
        display: none;
    }
}
