section {
    margin-top: 80px;
    position: relative;
    z-index: 2;

    &:first-of-type {
        margin-top: 131px; /* 80px + nav-height, since page-landing is pushed down */
    }
}

.banner {
    width: 100%;
    padding: 120px 10px 120px;
    box-sizing: border-box;
    text-align: center;
    position: relative;
    z-index: 3;
    -webkit-transition: all .6s ease-in-out;
    transition: all .6s ease-in-out;
    background-size: cover;
    border-top: 1px solid #222;
    border-bottom: 1px solid #222;

    h2 {
        color: #fff;
        font-size: 2.5rem;
        font-family: $open-sans;
        font-weight: 300;
        text-shadow: 0 1px 8px rgba(0, 0, 0, 1);
        padding: 0;
        margin: 0;
        display: inline-block;
        -webkit-transition: all .6s;
        transition: all .6s;
    }

    .bannerDescription {
        color: #fff;
        text-shadow: 0 1px 5px #000;
    }

    .image-block {
        display: inline-block;
        padding-bottom: 30px;
        position: relative;
        top: 30px;

        img {
            display: inline-block;
            width: 90px;
            max-height: 75px;
            margin: 0.5rem 1rem;
        }
    }
}

.banner.shrink {
    padding: 40px 10px 0px;
    box-shadow: 0 -2px 4px 0px #111;
}

.content-container {
    background-color: #efefef;
    box-shadow: 0 0 4px 1px #111;
    position: relative;
    width: 100%;
    overflow: hidden;
    text-align: center;

    .content {
        margin: 0 auto;
        max-width: 600px;
        text-align: left;
        padding: 10px 20px;

        h4 {
            color: rgb(0, 51, 82);
            font-weight: 400;

            &:first-child {
                margin-top: 45px;
            }
        }

        p {
            color: #333;
        }

        a {
            @include link($fvi-blue);
        }
    }

    .social-media-summary {
        @extend .content;
        text-align: center;

        a {
            font-size: 1.2rem;
            color: $fvi-blue;
            border: none;
            display: inline;
            vertical-align: center;
            padding: 0 10px;
            white-space: nowrap;

            &:visited {
                color: $fvi-blue;
            }

            &:focus, &:hover {
                color: lighten($fvi-blue, 20%);
            }
        }

        img {
            max-width: 200px;
            display: block;
            margin: 20px auto 0;
        }
    }

    .request-info {
        position: relative;
        top: -20px;
    }
}

.content .bold {
    font-weight: bolder;
}

@each $banner, $position in $banner-backgrounds {
    .banner.#{$banner} {
        background-image: url('../img/banners/#{$banner}.jpg');
        background-position: $position;
    }
}

.mongo-svg {
    transform-origin: bottom;
    animation: leaf infinite 2s ease-in-out;
    animation-direction: alternate;
}

.react-svg {
    animation: spin infinite 20s linear;
}

@keyframes leaf {
    from { transform: rotate(-8deg);}
    to { transform: rotate(8deg);}
}

@keyframes spin {
    from {transform: rotate(0deg);}
    to {transform: rotate(360deg);}
}

#student-work-content {
    width: 100%;
    max-width: none;
    padding-left: 0;
    padding-right: 0;
    padding-top: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: center;
    align-items: center;
    align-content: space-around;

    .project {
        box-sizing: border-box;
        display: inline-block;
        margin: 20px;
        text-align: center;
        border: none;
        background-color: #ddd;
        width: 100%;
        max-width: 400px;
        box-shadow: 0 5px 20px -10px #000;
        border-radius: 4px;
        border: 1px solid #ccc;
        overflow: hidden;
        transition: all .15s;

        &:focus, &:hover {
            box-shadow: 0 0 5px 1px $fvi-blue, 0 10px 40px -5px #000;
        }

        h4 {
            box-sizing: border-box;
            font-size: 1.2rem;
            margin-top: 1rem;
            padding: 0 10px;
        }

        img {
            display: block;
            box-sizing: border-box;
            min-width: 100px;
            width: 100%;
        }
    }
}

#call-to-action-section {
    background-color: darken($dark-blue, 3%);
    position: relative;

    .content {
        padding: 10px;
        text-align: center;

        .cta-btn-container {
            margin: 0 auto;
        }

        p {
            font-size: 1.2rem;
            margin: 2rem 0 1rem;
            color: #eee;
        }
    }
}
