@import "_variables.scss";
@import "_reset.scss";
@import "_pages.scss";
@import "_homepage.scss";
@import "_footer.scss";
@import "_menu.scss";
@import "_form.scss";
@import "_controllers.scss";
@import "_cards.scss";
@import "_buttons.scss";
@import "_sections.scss";
@import "_992max.scss";
@import "_760max.scss";
@import "_560max.scss";
@import "_400max.scss";

html {
    background-color: $fvi-blue;
    opacity: 0;
}

body {
    background-color: $fvi-blue;
}

.pages-container {
    background-color: #111;
}

#overlay {
    background: #000;
    bottom: 0;
    opacity: .7;
    left: 0;
    position: fixed;
    right: 0;
    top: 0;
    z-index: 101;
    color: rgba(0, 0, 0, 1);
    font-size: 0;
    transition: opacity 200ms;
}
