@import "_variables.scss";
@import "_reset.scss";
@import "_pages.scss";
@import "_homepage.scss";
@import "_footer.scss";
@import "_menu.scss";
@import "_form.scss";
@import "_controllers.scss";
@import "_cards.scss";
@import "_buttons.scss";
@import "_sections.scss";
@import "_960max.scss";
@import "_760max.scss";
@import "_560max.scss";
@import "_400max.scss";
/*@import "_diagnostics.scss";*/

html {
    background-color: #111;
    display: none;
}

body {
    background-color: #111;
}
