<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Cyber Security</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans|Raleway:300" rel="stylesheet">
    <link rel="stylesheet" href="../style/main.css" media="screen">
</head>

<body>

    <main class="container">

        <div id="overlay"></div>

        <nav>
            <h4 id="menu-button">MENU</h4>
            <ul id="menu-items">
                <li><a class="smoothScroll" href="#courses">Courses</a></li>
                <li><a class="smoothScroll" href="#certifications">Certifications</a></li>
                <li><a class="smoothScroll" href="#partners">Employer Partners</a></li>
                <li><a class="smoothScroll" href="#financial-aid">Financial Aid</a></li>
                <li><a class="smoothScroll" href="#student-resources">Student Resoures</a></li>
            </ul>
        </nav>

        <div class="page-landing" id="cyber-landing">
            <h1>Cybersecurity<br>Expert</h1>
        </div>

        <section id="courses">
            <!-- Each section has background image -->
            <h1>Courses</h1>
            <button id="test" type="button" name="plus-button" class="plus-button">+</button>
        </section>
        <div class="courses content-container">
            <div class="content">
                <p>ipsum</p>
                <p>ipsum</p>
                <p>ipsum</p>
            </div>
        </div>

        <section id="certifications">
            <h1>Certifications</h1>
            <button type="button" name="plus-button" class="plus-button">+</button>
        </section>
        <div class="certifications content-container">
            <div class="content">
                <p>ipsum</p>
                <p>ipsum</p>
                <p>ipsum</p>
            </div>
        </div>

        <section id="partners">
            <h1>Employer Partners</h1>
            <button type="button" name="plus-button" class="plus-button">+</button>
        </section>
        <div class="partners content-container">
            <div class="content">
                <p>ipsum</p>
                <p>ipsum</p>
                <p>ipsum</p>
            </div>
        </div>

        <section id="financial-aid">
            <h1>Financial Aid</h1>
            <button type="button" name="plus-button" class="plus-button">+</button>
        </section>
        <div class="financial-aid content-container">
            <div class="content">
                <p>ipsum</p>
                <p>ipsum</p>
                <p>ipsum</p>
            </div>
        </div>

        <section id="student-resources">
            <h1>Student Resources</h1>
            <button type="button" name="plus-button" class="plus-button">+</button>
        </section>
        <div class="student-resources content-container">
            <div class="content">
                <p>ipsum</p>
                <p>ipsum</p>
                <p>ipsum</p>
            </div>
        </div>

    </main>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script src="../js/smoothScroll.js"></script>
    <script src="../js/main.js"></script>
</body>

</html>
