<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Web Development</title>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600" rel="stylesheet">
    <script src="https://use.fontawesome.com/6e24312094.js"></script>
    <link rel="stylesheet" href="../style/main.css" media="all">
</head>

<body>

    <div id="overlay"></div>

    <main id="top" class="web-main">

        <span class="cta-btn apply">Apply For Free</span>
        <span class="cta-btn question">Ask A Question</span>

        <div class="cards-container">

            <figure class="card when-and-where">
                <!-- <div class="tooltip">
                    <p>Click these for more info</p>
                </div> -->
                <div class="banner" id="when-and-where">
                    <h1>When &amp; Where</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>When &amp; Where<i class="content-close bold">x</i></h1>
                    <h4>Program Logistics</h4>
                    <section>
                        <p><span class="bold">Next Start Date:</span> Whenever you are ready. Our program's module system is designed for flexibility.</p>
                        <p><span class="bold">Time:</span> 5:30pm - 10:30pm, every Monday, Tuesday, Wednesday, and Thursday</p>
                        <p><span class="bold">Location:</span> The Florida Vocational Institute at the Mall of Americas, 2nd floor<br>7757 West Flagler Street #220 Miami, FL 33144</p>
                        <p><span class="bold">Admissions Requirements: </span><a target="_blank" title="FVI Admissions" href="http://www.fvi.edu/admissions">click here</a></p>
                    </section>
                    <h4>The Florida Vocational Institute</h4>
                    <section>
                        <p>At FVI, we are committed to providing our students with a quality education in a lifelong, rewarding career through our Healthcare and Technology programs. FVI takes pride in offering first-class training with the guidance, tools,
                            and support needed to prepare you for the job you want.</p>
                        <p>We are dedicated to helping you achieve success with our passionate and knowledgeable faculty, successful career placement team, and our warm and welcoming community. </p>
                        <p>For consumer information, visit <a target="_blank" title="FVI Consumer Information" href="http://www.fvi.edu/consumer-information/">www.fvi.edu/consumer-information</a>.</p>
                    </section>
                </div>
            </div>

            <figure class="card cirriculum">
                <div class="banner" id="cirriculum">
                    <h1>Cirriculum</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>Cirriculum<i class="content-close bold">x</i></h1>
                    <div class="image-block">
                        <img src="../img/logos/angular.svg" alt="Learn Angular JS at Miami's best Code School" />
                        <img src="../img/logos/github2.svg" alt="Learn Git and Github at Miami's best Code School" />
                        <img src="../img/logos/mongodb-leaf.svg" alt="Learn MongoDB at Miami's best Code School" />
                        <img src="../img/logos/nodejs2.svg" alt="Learn Node JS at Miami's best Code School" />
                        <img src="../img/logos/react2.svg" alt="Learn ReactJS at Miami's best Code School" />
                        <img src="../img/logos/socket-io.svg" alt="Learn Socket io at Miami's best Code School" />
                    </div>
                    <h4>This Program is Not For Everyone</h4>
                    <section>
                        <p>Our in-person Computer Programming courses are designed for busy adults driven to change their career and/or boost their professional skills. Few other Web Developer Schools offer the length and breadth of material that we do.</p>
                        <p>We are a Computer Programming School devoted to creating Application Developers with sound Computer Science skills. Our curriculum is designed to be completed in a dense, but realistic time frame of nine months.</p>
                        <p>By the end of the 9-month program, each student will have created their own portfolio full of web applications, something which university graduates lack and employers desperately seek.</p>
                    </section>
                    <h4>Weeks 1-6: Foundations of Front-end Programming.</h4>
                    <section>
                        <p>During the first 6 weeks, we wil introduce you to each of the main skills you need in order to become a front-end Programmer. You will learn HTML5, CSS3, Bootstrap, JavaScript, jQuery, Git, Ajax programming, and build tools (Browserify, npm and Gulp).</p>
                    </section>
                    <h4>Weeks 7-15: Advanced Front-end Programming</h4>
                    <section>
                        <p>Our faculty of real industry pros takes you through more advanced front-end development techniques in an environment of project-based learning. You will learn techniques for using gradients, HTML5 media, HTML5 canvas, CSS transforms and perspective, and lots of event-driven and AJAX programming.</p>
                    </section>
                    <h4>Weeks 16-21: Back-end Programming</h4>
                    <section>
                        <p>You will build at least 6 full stack (both front-end and back-end) applications using NodeJS on the server side and MongoDB or SQL for the database.</p>
                    </section>
                    <h4>Weeks 22-36: AngularJS, php and Beyond</h4>
                    <section>
                        <p>During this last stretch, you will learn AngularJS, ReactJS, php, and become a WordPress pro. We we say WordPress, we're not talking about clicking around a GUI and installing themes; we're talking about harnessing the WordPress codex to build real database-driven apps on the back of WordPress. You will also learn Computer Science fundamentals and advanced Git techniques.</p>
                    </section>
                </div>
            </div>

            <figure class="card comparison">
                <div class="banner" id="comparison">
                    <h1>How We Compare to Other Schools</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>How We Compare to Other Schools<i class="content-close bold">x</i></h1>
                    <h4>Coding Bootcamps</h4>
                    <section>
                        <p>The South Florida region offers only a handful of coding bootcamps, including <a target="_blank" href="https://wyncode.co/">Wyncode</a> and <a target="_blank" href="https://www.ironhack.com/en/web-development-bootcamp">Ironhack</a>.
                            These programs are often effective, but they take place during the work day and cost $9,000 - $12,000.</p>
                        <p>FVI's technology programs take place during the evenings and therefore don't interfere with the 9-5 career schedule, all for a third of the cost of bootcamps.</p>
                        <p>Most importantly, the coding bootcamps last 320 total hours while FVI's program lasts 720 hours. We think 320 hours is barely enough time to become a web developer, let alone a strong one. There are no shortcuts--you will become a strong web developer by the end of our program.</p>
                    </section>
                    <h4>Computer Science Degrees from Universities</h4>
                    <section>
                        <p>A computer science degree will give you an excellent understanding of computers and the internet, but you won't have any coding skills to apply your knowledge. You won't have a portoflio of projects proving you can make stuff.</p>
                        <p>A developer's portfolio is the most important part of their resume. By the end of FVI's web developer program, you will have a rich portfolio full of varied, in-depth, relevant projects.</p>
                    </section>
                    <h4>Online Programs</h4>
                    <section>
                        <p>There are a few different online coding schools and websites that can take a beginner from amateur to intermediate at a low cost, and often for free. For example, <a target="_blank" href="http://codecademy.com">Codecademy</a> provides many good introductions to various programming languages for free, <a target="_blank" href="http://teamtreehouse.com">Team Tree House</a> provides learning paths with videos and exercises for a low monthly fee, and <a target="_blank" href="http://coursera.org">Coursera</a> provides a few online computer science courses from excellent universities, for free.</p>
                        <p>However, online programs are notorious for <a target="_blank" href="https://books.google.com/books?hl=en&lr=&id=JvfZDAAAQBAJ&oi=fnd&pg=PA24&dq=mooc+completion+rates&ots=lUaqVHHaY1&sig=anAMbrl1dAW98oA_ysNeVcTss30#v=onepage&q=mooc%20completion%20rates&f=false">low completion rates</a>. As a student in FVI's web developer program, you will be learning and coding with a professional web developer in the same room who can immediately answer any questions, look at your code, and offer you feedback and encouragement. Such a close student-mentor relationship cannot be found in online programs.</p>
                    </section>
                    <h4>Financial Aid</h4>
                    <section>
                        <p>FVI is a Title IV school, which means we offer financial aid through federal grants and student loans through both private and federal lenders. See the "Pricing" section for more information.</p>
                    </section>
                </div>
            </div>

            <figure class="card">
                <div class="banner" id="partners">
                    <h1>Employer Partners</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>Employer Partners<i class="content-close bold">x</i></h1>
                    <h4>Web Development is a Growing Industry</h4>
                    <section>
                        <p>The Bureau of Labor Statistics expects web development careers to <a target="_blank" title="Bureau of Labor Statistics: Web Developers" href="http://www.bls.gov/ooh/computer-and-information-technology/web-developers.htm">grow 27%</a> between 2014 and 2024, which is three times faster than average for all occupations.</p>
                    </section>
                    <h4>What kind of job can I get as a graduate?</h4>
                    <section>
                        <p>The Web Application Development Program at FVI will prepare graduates to develop practical skills and knowledge needed for entry-level career opportunities in areas involving software design and development, systems analysis, programming, process design and management, and other areas related to computer software production and deployment.</p>
                    </section>
                    <h4>FVI's Employer Partners</h4>
                    <section>
                        <p>FVI maintains strong working relationships with top companies in the area so we can match your passion and ability to career opportunities.</p>
                    </section>
                    <h4>Our Career Services Team</h4>
                    <section>
                        <p>The career services team at FVI will work with you to provide internships during training and upon graduation assist you in finding a great career as a web or application developer.</p>
                    </section>
                </div>
            </div>

            <figure class="card">
                <div class="banner" id="pricing">
                    <h1>Pricing</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>Pricing<i class="content-close bold">x</i></h1>
                    <h4>Financial Aid</h4>
                    <section>
                        <p>Florida Vocational Institute maintains a staff of financial aid professionals to assist students in obtaining the financial assistance they require to meet their educational expenses. Available resources include federal grant and loan programs, and student loans from private lenders.</p>
                        <p>Federal assistance programs are administered through the U.S. Department of Education. Any U.S. citizen, national, or person in the United States for other than temporary reasons who is enrolled and accepted may apply for these programs. Most forms of financial assistance are available for each July 1-June 30 award period.</p>
                        <p>Every student considering an application for financial aid should request a copy of the current guide, Funding Your Education, published by the U.S. Department of Education. This important document can be obtained online from <a target="_blank" title="The United States Office of Federal Student Aid" href="http://studentaid.ed.gov/">The United States Office of Federal Student Aid</a> and will assist persons in understanding eligibility requirements.</p>
                    </section>
                </div>
            </div>

            <figure class="card">
                <div class="banner" id="resources">
                    <h1>Student Resources</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>Student Resources<i class="content-close bold">x</i></h1>
                    <h4>Heading 1</h4>
                    <section>
                        <p>Miami ipsum D. Wade amet cafe con leche park west miami literally basel ricer mission bro collins ave midtown cocowalk completo vizcaya metrorail sweetwater. Que fancy supposably power love hour 836 park west oye morena.</p>
                    </section>
                    <h4>Heading 2</h4>
                    <section>
                        <p>Flagler arroz con mango abuelita hialeah pata sucia cafe bustelo. Telly abuelita metrorail critical mass Allapattah coconut grove dolphin mall doral booty bass. Ya tu sabes LIV ño telly abuelita que fancy no yeah, yeah no metrorail de pinga.</p>
                    </section>
                    <h4>Heading 3</h4>
                    <section>
                        <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                    </section>
                </div>
            </div>

            <figure class="card">
                <div class="banner" id="student-work">
                    <h1>Student Work</h1>
                </div>
                <figcaption>
                    <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                </figcaption>
            </figure>
            <div class="content-container">
                <div class="content">
                    <h1>Student Work<i class="content-close bold">x</i></h1>
                    <h4>Heading 1</h4>
                    <section>
                        <p>Miami ipsum D. Wade amet cafe con leche park west miami literally basel ricer mission bro collins ave midtown cocowalk completo vizcaya metrorail sweetwater. Que fancy supposably power love hour 836 park west oye morena.</p>
                    </section>
                    <h4>Heading 2</h4>
                    <section>
                        <p>Flagler arroz con mango abuelita hialeah pata sucia cafe bustelo. Telly abuelita metrorail critical mass Allapattah coconut grove dolphin mall doral booty bass. Ya tu sabes LIV ño telly abuelita que fancy no yeah, yeah no metrorail de pinga.</p>
                    </section>
                    <h4>Heading 3</h4>
                    <section>
                        <p>Pero like que cute irregardless, pastelitos LIV civic center vizcaya souwesera ocean drive ño critical mass art basel gorda. FIU quesito little haiti westchester Miami time doral cafe llave.</p>
                    </section>
                </div>
            </div>

        </div>

    </main>

    <script src="http://code.jquery.com/jquery-3.1.1.min.js" integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script src="../js/polyfills.js"></script>
    <script src="../js/smoothScroll.js"></script>
    <script src="../js/main.js"></script>

</body>

</html>
